/* otpWriter.css */
.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 300px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .otp-label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .otp-group {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
  }
  
  .otp-slot {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .otp-submit-button {
    padding: 10px 20px;
    background-color: #759fcb; /* Blue background color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  